* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*hace que el border, el padding no afecte el ancho de los elementos*/
  }

:root{
    --coloBase: #F6EDF9;
    --colorTitulo: #694A69;
    --fuenteHeading: 'Playfair Display', serif;
    --fuenteParrafos: 'Playfair Display', serif;
                    
}

/*HEADER*/
.contenedor_encabezado{
    background-color: var(--coloBase);
    padding-top: 1rem;
}
.encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}
.buscador{
    background-color: var(--coloBase);
    border:none;
    border-bottom: 1px solid var(--colorTitulo);
}
.titulo{
    color: var(--colorTitulo);
    font-family: var(--fuenteHeading);
}
.titulo h1{
    font-size: 4rem;  
    text-shadow: 2px 2px 3px #91878F;
}
.titulo:hover{
    color: black;
}
.redes{
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
}

.navbar_enlaces{
    display: flex;
    justify-content: center;
    margin: 0;
}
.list {
    list-style-type: none;
    padding: 2rem;
   
    
}

.list a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-family: var(--fuenteParrafos);
}
/*MAIN*/
/*IDEX*/
.ontenedor_imagen{
    width: 100%;
    height: 400PX;
    object-fit: cover;
    overflow: hidden;
    
}
/*PAGINA PRODUCTOS*/
.filtro{
    padding: 4rem 2rem;
}
.filtro h2{
    color: var(--colorTitulo);
    border-bottom: 1px solid var(--colorTitulo);
    padding-bottom: 1rem;
}
.list_filtro{
    list-style-type: none;
}
.filtro-submit{
    border: none;
    background-color: white;
}
.contenedor_principal_productos{
    display: grid;
    grid-template-columns: 20% 80%; 
}

.box_productos {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 20%); 
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 5rem 2rem;
}
.box_productos article {
    width: 200px;
    max-width: 100%;
    height: 200px;
    background-color: var(--coloBase);
    border-radius: 1rem;
    overflow: hidden;
}

.box_productos  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.descripcion_producto h2{
    color: black;
    font-family: var(--fuenteHeading);
    text-align: center;
    font-size: 1rem;
    padding-top:1rem;
}
.descripcion_producto p{
    color: var(--colorTitulo);
    font-size: 1.3rem;
    font-family: var(--fuenteParrafos);
    text-align: center;
    font-weight: bold;
}
.agregar-button{
    background-color: #694A69;
    color: white;
    text-decoration: none;
}
/*CONTACTO*/
.titulo_contacto{
    text-align: center;
    font-family: var(--fuenteHeading);
    padding: 3rem;
}
.contacto_info{
    background-color: var(--coloBase);
    padding-top: 2rem;
}
.contacto_info h2{
    text-align: center;
    font-family: var(--fuenteHeading);
}
.contacto_info_detalle{
    display: flex;
    padding: 2rem;
    gap: 10rem;
    align-items: center;
    justify-content: center;
}
.contacto_info_detalle h3{
    text-align: center;
    font-family: var(--fuenteHeading);
    color: var(--colorTitulo);   
}
.contacto_info_detalle p{
    text-align: center;
    font-family: var(--fuenteParrafos);
}
/*FOOTER*/
.footer{
    background-color: var(--coloBase);
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    text-align: center;
}
.list_footer{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.list_footer a{
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-family: var(--fuenteParrafos);
}
.btn_enviar{
    background-color: var(--coloBase);
    padding: 5%;
    font-size: 1.3rem;
    margin-top: 2rem;
    border-radius: 5%;
}
.btn_enviar:hover{
    background-color: var(--colorTitulo);
    color: white;
    
}
.input_footer{
    background-color: var(--coloBase);
    border:none;
    border-bottom: 2px solid var(--colorTitulo);
    padding: 1rem;
}
.list_footer label{
    text-align: start;
}
.navbar_footer_enlaces{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.formulario_footer{
    display: grid;
    column-gap: 3rem;
}
.titulo_email{
    font-size: 2rem;
    color: var(--colorTitulo);
}


